@charset "UTF-8";

@font-face {
  font-family: 'MADEOkineSans';
  src: url('made-okine-sans-light.woff2') format('woff2'),
       url('made-okine-sans-light.woff') format('woff'),
       url('made-okine-sans-light.ttf') format('truetype'),
       url('made-okine-sans-light.svg#youworkforthem') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MADEOkineSans';
  src: url('made-okine-sans-regular.woff2') format('woff2'),
       url('made-okine-sans-regular.woff') format('woff'),
       url('made-okine-sans-regular.ttf') format('truetype'),
       url('made-okine-sans-regular.svg#youworkforthem') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MADEOkineSans';
  src: url('made-okine-sans-medium.woff2') format('woff2'),
       url('made-okine-sans-medium.woff') format('woff'),
       url('made-okine-sans-medium.ttf') format('truetype'),
       url('made-okine-sans-medium.svg#youworkforthem') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
    font-family: 'Noto Sans Japanese';
    src: url('NotoSansCJKjp-Regular.woff2') format('woff2'),
         url('NotoSansCJKjp-Regular.woff') format('woff'),
         url('NotoSansCJKjp-Regular.ttf')  format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Japanese';
    src: url('NotoSansCJKjp-Medium.woff2') format('woff2'),
         url('NotoSansCJKjp-Medium.woff') format('woff'),
         url('NotoSansCJKjp-Medium.ttf')  format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Japanese';
    src: url('NotoSansCJKjp-Bold.woff2') format('woff2'),
         url('NotoSansCJKjp-Bold.woff') format('woff'),
         url('NotoSansCJKjp-Bold.ttf')  format('truetype');
    font-weight: 700;
    font-style: normal;     
}